In [1]:
import tweepy
import os, sys, csv, time
import pandas as pd
import numpy as np

In [2]:
# Twitter credentials

consumer_key = 'es8zMLQOd3TGfwwEa5EQ8bF51'
consumer_secret = 'Nk7SP5zuhFBPre7hFDiOIUyU2mYzKC5fVOhkFyVu1soOCEtexr'
access_key = '424438626-l0Bic8MCWwsvhQvFr8Ickcfl8CqVNhIdgf1DRGfh'
access_secret = 'hNyNJ60jnhT5hDG7sSHwQbX35M5TefKY8SJrrKAHjuwLc'

In [3]:
# Tweepy authorization and api initiation

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)  #keeps waiting instead of giving error message

**Dataset details in script2 notebook**

1. (Presumably non-bot) from twitter with #IVoted - 7654

2. fake_users_.csv = from cresci-2015.csv/TWT.csv/users.csv
3. fake_users_2 = from cresci-2017.csv/datasets_full.csv/fake_followers.csv/users.csv 


**Dataset details in THIS notebook**
Details from [this paper](https://arxiv.org/pdf/1509.04098.pdf) associated with cresci-2015 folder

1. hum1: Certifed human from botometer.com - cresci-2015.csv/TFP.csv/users.csv  #volunteers from all over the world
2. hum2: Certified humans from Italy: cresci-2015.csv/E13.csv/users.csv  #twitter accounts only from Italy 

Details from [this paper](https://arxiv.org/pdf/1701.03017.pdf)  associated with cresci-2017 folder
3. hum3: Genuine human operated accounts: cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/users.csv 

Details from [this paper](https://pdfs.semanticscholar.org/b433/9952a73914dc7eacf3b8e4c78ce9a5aa9502.pdf?_ga=2.185438761.1430787083.1541548886-2034563381.1541548886)
4. hum4: Genuine users: /Users/pbiswas/Desktop/social_honeypot_icwsm_2011  
5. hum5: ids only varol_2017_dat.txt


Fake accounts/bots etc. 
All folders from cresci-2017.csv/datasets_full.csv/ with spambots

In [8]:
hum1 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2015.csv/TFP.csv/users.csv')
hum1.shape
#hum1.isna().sum()

(469, 34)

In [11]:
hum2 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2015.csv/E13.csv/users.csv')
hum2.shape

(1481, 34)

In [84]:
hum3 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/genuine_accounts.csv/users.csv')
hum3.shape

(3474, 42)

In [97]:
hum4 = pd.read_csv('/Users/pbiswas/Desktop/social_honeypot_icwsm_2011/legitimate_users.txt', sep= "\t", header=None)
print(hum4.shape)

(19276, 8)

In [98]:
header = ['bot', 'created_at', 'default_profile', 'default_profile_image',
           'description', 'favourites_count', 'followers_count', 'friends_count',
           'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
           'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
           'verified']

In [99]:
hum4.columns = ['id', 'created_at', 'collected_at', 'friends_count', 'followers_count', 'tweet_count', 'len_screen_ame', 'len_description']

In [100]:
hum4.head()

,id,created_at,collected_at,friends_count,followers_count,tweet_count,len_screen_ame,len_description
0,614,2006-07-13 15:30:05,2009-11-20 23:56:21,510,350,3265,10,34
1,1038,2006-07-15 16:12:15,2009-11-16 05:12:11,304,443,4405,7,156
2,1437,2006-07-16 12:29:24,2009-11-16 16:25:12,45,73,725,6,37
3,2615,2006-07-19 23:23:55,2009-11-27 18:34:36,211,230,211,7,0
4,3148,2006-07-26 14:17:22,2009-11-20 17:35:18,7346,7244,11438,8,97

In [96]:
# not using right now as they are just account ids
hum5 = pd.read_csv('/Users/pbiswas/Desktop/varol-2017_dat.txt', header=None)
hum5.shape

(2573, 1)

In [74]:
bot1 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/social_spambots_1.csv/users.csv')
bot2 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/social_spambots_2.csv/users.csv')
bot3 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/social_spambots_3.csv/users.csv')
bot4 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/traditional_spambots_1.csv/users.csv')
bot5 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/traditional_spambots_2.csv/users.csv')
bot6 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/traditional_spambots_3.csv/users.csv')
bot7 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/traditional_spambots_4.csv/users.csv')
bot8 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2015.csv/INT.csv/users.csv')
bot9 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2015.csv/FSF.csv/users.csv')

print(bot1.shape, bot2.shape, bot3.shape, bot4.shape, bot5.shape, bot6.shape, bot7.shape, bot8.shape, bot9.shape )

(991, 41) (3457, 40) (464, 41) (1000, 40) (100, 40) (403, 40) (1128, 40) (1337, 34) (1169, 34)

In [118]:
def createOutput(data):
    
    header = ['bot', 'created_at', 'default_profile', 'default_profile_image',
           'description', 'favourites_count', 'followers_count', 'friends_count',
           'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
           'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
           'verified']
    
    bots = pd.DataFrame(columns=header)
    
    for key in header:
        if key not in data.columns:
            bots[key] = np.NAN
        else:
            bots[key] = data[key]
    
    bots.bot = 1
    #df = pd.DataFrame(d, columns= header, index=np.arange(1))
    # df['bot'] = isbot
    return bots

In [119]:
b1 = createOutput(bot1)
b2 = createOutput(bot2)
b3 = createOutput(bot3)
b4 = createOutput(bot4)
b5 = createOutput(bot5)
b6 = createOutput(bot6)
b7 = createOutput(bot7)
b8 = createOutput(bot8)
b9 = createOutput(bot9)

In [120]:
all_bots = pd.concat([b1, b2, b3, b4, b5, b6, b7, b8, b9], axis=0, ignore_index=True)

In [121]:
all_bots.shape

(10049, 20)

In [122]:
#all_bots.isna().sum()

# will update later for null values 

all_bots.to_csv('Data/all_bots.csv', encoding='utf-8', index=False)

In [123]:
def createOutput(data):
    
    header = ['bot', 'created_at', 'default_profile', 'default_profile_image',
           'description', 'favourites_count', 'followers_count', 'friends_count',
           'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
           'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
           'verified']
    
    hums = pd.DataFrame(columns=header)
    
    for key in header:
        if key not in data.columns:
            hums[key] = np.NAN
        else:
            hums[key] = data[key]
    
    hums.bot = 0
    #df = pd.DataFrame(d, columns= header, index=np.arange(1))
    # df['bot'] = isbot
    return hums

In [124]:
# converting humans data

h1 = createOutput(hum1)
h2 = createOutput(hum2)
h3 = createOutput(hum3)
h4 = createOutput(hum4)

In [125]:
all_hums = pd.concat([h1, h2, h3, h4], axis=0, ignore_index=True)

In [126]:
all_hums.shape

(24700, 20)

In [127]:
h4.head()

,bot,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,has_extended_profile,id,id_str,lang,listed_count,location,name,screen_name,status,statuses_count,url,verified
0,0,2006-07-13 15:30:05,NaN,NaN,NaN,NaN,350,510,NaN,614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,2006-07-15 16:12:15,NaN,NaN,NaN,NaN,443,304,NaN,1038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,2006-07-16 12:29:24,NaN,NaN,NaN,NaN,73,45,NaN,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,2006-07-19 23:23:55,NaN,NaN,NaN,NaN,230,211,NaN,2615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,2006-07-26 14:17:22,NaN,NaN,NaN,NaN,7244,7346,NaN,3148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
all_hums.to_csv('Data/all_hums.csv', encoding='utf-8', index=False)

In [132]:
all_hums.shape

(24700, 20)

In [135]:
hum4

,id,created_at,collected_at,friends_count,followers_count,tweet_count,len_screen_ame,len_description
0,614,2006-07-13 15:30:05,2009-11-20 23:56:21,510,350,3265,10,34
1,1038,2006-07-15 16:12:15,2009-11-16 05:12:11,304,443,4405,7,156
2,1437,2006-07-16 12:29:24,2009-11-16 16:25:12,45,73,725,6,37
3,2615,2006-07-19 23:23:55,2009-11-27 18:34:36,211,230,211,7,0
4,3148,2006-07-26 14:17:22,2009-11-20 17:35:18,7346,7244,11438,8,97
5,5593,2006-09-08 10:58:49,2009-11-24 06:08:27,898,1024,2897,8,56
6,9375,2006-10-18 09:58:09,2009-11-18 04:07:12,53,131,566,9,11
7,10336,2006-10-24 10:05:24,2009-11-17 16:32:35,754,4103,6181,6,0
8,10455,2006-10-25 04:02:13,2009-11-15 02:51:26,140,222,1192,9,15
9,10698,2006-10-26 19:04:29,2009-11-16 02:20:01,140,1329,17457,8,63
10,11718,2006-11-07 14:02:03,2009-11-24 13:41:16,254,3639,8245,11,31
11,12527,2006-11-15 09:13:50,2009-11-27 17:29:53,108,92,815,12,49
12,13602,2006-11-21 13:27:43,2009-11-29 07:08:59,145,395,7468,6,28
13,15313,2006-11-22 09:20:12,2009-11-14 05:55:52,189,1665,3180,9,20
14,16683,2006-11-22 19:16:32,2009-11-13 08:35:18,70,322,4458,8,75
15,17363,2006-11-23 02:05:21,2009-11-18 01:33:20,277,868,4693,10,128
16,21833,2006-11-25 09:10:53,2009-11-13 04:22:28,87,94,269,8,18
17,25723,2006-11-27 15:40:13,2009-11-14 03:38:29,242,722,16787,7,139
18,32613,2006-11-30 12:03:39,2009-11-27 10:50:31,182,490,8384,15,51
19,46183,2006-12-06 12:46:08,2009-11-18 19:01:28,71,174,300,13,110
20,47203,2006-12-06 22:15:45,2009-11-14 01:53:53,259,485,4605,3,25
21,50263,2006-12-08 05:45:09,2009-11-29 05:55:58,130,150,3498,4,117
22,56733,2006-12-10 23:31:28,2009-11-24 23:49:59,672,780,6795,8,0
23,60663,2006-12-12 08:22:13,2009-11-21 22:38:21,2855,5413,21166,12,158
24,63093,2006-12-13 03:20:17,2009-11-20 03:37:49,133,160,549,7,11
25,157763,2006-12-22 06:54:25,2009-11-16 21:09:59,262,325,2701,6,0
26,198623,2006-12-23 10:18:05,2009-11-26 07:58:23,152,249,2871,8,69
27,304713,2006-12-27 19:26:47,2009-11-23 11:39:43,235,385,50356,6,85
28,451373,2007-01-02 07:13:51,2009-11-22 10:04:15,315,198,4694,9,84
29,627303,2007-01-11 16:19:38,2009-11-15 16:01:01,234,1845,5411,7,70
...,...,...,...,...,...,...,...,...
19246,93055692,2009-11-27 15:52:51,2009-11-27 17:22:40,21,4,4,15,0
19247,93058189,2009-11-27 16:07:06,2009-11-29 00:44:22,6,3,9,14,0
19248,93061925,2009-11-27 16:30:13,2009-11-28 21:43:19,59,6,14,6,0
19249,93070321,2009-11-27 17:20:02,2009-11-27 17:31:55,1,1,6,8,0
19250,93071458,2009-11-27 17:26:10,2009-11-27 17:35:19,1,0,1,10,0
19251,93099375,2009-11-27 20:16:02,2009-11-28 21:59:01,4,3,5,8,11
19252,93118174,2009-11-27 22:26:16,2009-11-29 06:43:43,15,1,52,12,42
19253,93121803,2009-11-27 22:54:47,2009-11-29 08:26:55,29,1,31,8,0
19254,93129749,2009-11-27 23:59:56,2009-11-29 00:53:43,18,3,9,8,0
19255,93139606,2009-11-28 01:28:32,2009-11-28 22:03:18,75,21,49,9,40
19256,93156080,2009-11-28 04:07:58,2009-11-29 00:26:37,32,2,12,8,0
19257,93179406,2009-11-28 06:56:30,2009-11-29 10:08:18,6,1,4,9,0
19258,93189641,2009-11-28 08:05:48,2009-11-29 04:24:49,4,1,22,9,0
19259,93213066,2009-11-28 10:25:15,2009-11-29 06:44:59,37,15,35,10,37
19260,93229688,2009-11-28 12:04:18,2009-11-29 07:38:33,166,44,118,15,0
19261,93258789,2009-11-28 15:02:50,2009-11-29 04:42:59,0,0,3,8,0
19262,93271119,2009-11-28 16:21:25,2009-11-29 05:45:06,21,1,1,11,0
19263,93314424,2009-11-28 21:18:43,2009-11-28 22:46:49,24,1,5,13,0
19264,93337503,2009-11-29 00:02:06,2009-11-29 00:18:38,0,0,1,10,15
19265,93340898,2009-11-29 00:32:49,2009-11-29 00:47:15,3,1,8,14,23
19266,93342019,2009-11-29 00:43:50,2009-11-29 01:11:31,1,0,5,13,160
19267,93362225,2009-11-29 03:13:03,2009-11-29 03:59:17,4,0,5,8,0
19268,93378157,2009-11-29 04:59:11,2009-11-29 05:25:44,0,0,1,12,0
19269,93386957,2009-11-29 06:08:02,2009-11-29 07:58:27,5,0,15,12,0
19270,93390803,2009-11-29 06:33:25,2009-11-29 07:26:04,172,3,2,13,0
19271,93390990,2009-11-29 06:34:30,2009-11-29 07:50:54,5,0,5,11,0
19272,93402679,2009-11-29 07:47:50,2009-11-29 07:56:28,20,1,1,12,0
19273,93419256,2009-11-29 09:23:30,2009-11-29 09:30:48,0,0,1,8,0
19274,93426370,2009-11-29 10:04:26,2009-11-29 10:13:17,20,1,1,10,0
19275,93442002,2009-11-29 11:27:25,2009-11-29 11:36:52,1,0,1,7,0

In [61]:
bot1.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated', 'test_set_1'],
      dtype='object')

In [69]:
bot7.lang.value_counts()

en    1128
Name: lang, dtype: int64

In [72]:
hum3.lang.value_counts()

en                    3178
es                     123
en-gb                   50
ja                      32
fr                      18
zh-tw                   17
pt                      13
id                       7
de                       6
nl                       5
ru                       4
en-GB                    4
zh-TW                    3
Select Language...       2
tr                       2
da                       2
ar                       1
pl                       1
ko                       1
el                       1
sv                       1
xx-lc                    1
fil                      1
en-AU                    1
Name: lang, dtype: int64

In [137]:
twt_fake.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,80479674,YI YUAN,yi_twitts,29,19,255,1,0,Wed Oct 07 03:19:21 +0000 2009,http://www.jycondo.com,...,efefef,http://a0.twimg.com/images/themes/theme14/bg.gif,131516,009999,-18000.0,NaN,NaN,real estate sales,2015-02-14 09:55:39,TWT
1,82487179,Marcos Perez C,marcos_peca,1408,208,866,138,0,Wed Oct 14 23:40:17 +0000 2009,NaN,...,A0C5C7,http://a0.twimg.com/images/themes/theme6/bg.gif,709397,FF3300,-21600.0,NaN,NaN,NaN,2015-02-14 09:55:39,TWT
2,105830531,curti lorenzo,curtilorenzo,39,59,962,8,0,Sun Jan 17 16:46:52 +0000 2010,http://www.valcavargna.com/,...,C0DFEC,http://a0.twimg.com/profile_background_images/...,022330,0084B4,0.0,NaN,NaN,le corna del capro scappato dal gregge s'infil...,2015-02-14 09:55:39,TWT
3,114488344,ruben dario toscano,gatito2710,59,7,49,4,0,Mon Feb 15 15:49:58 +0000 2010,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,-18000.0,NaN,NaN,NaN,2015-02-14 09:55:39,TWT
4,123222267,Malek Khalaf,MalekKhalaf,987,60,521,61,1,Mon Mar 15 11:38:55 +0000 2010,http://www.facebook.com/Malek.AlBalawi,...,A9A09B,http://a0.twimg.com/profile_background_images/...,D9FBFC,C0C3CC,10800.0,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",2015-02-14 09:55:39,TWT

In [130]:
ivoted_users.to_csv('users_ivoted.csv', encoding='utf-8', index=False)

In [ ]:
#for col in use.columns:
#    if russ_bots[col].dtypes == 'float64':
#       # russ_bots[col].astype(int)
#        #print('yes', col, russ_bots[col].dtypes)
#        russ_bots[col] = russ_bots[col].astype(int)

In [139]:
# new fake dataset- https://arxiv.org/pdf/1509.04098.pdf

In [138]:
twt_fake = pd.read_csv('/Users/pbiswas/Desktop/cresci-2015.csv/TWT.csv/users.csv')

twt_fake.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,profile_sidebar_fill_color,profile_background_image_url,profile_background_color,profile_link_color,utc_offset,protected,verified,description,updated,dataset
0,80479674,YI YUAN,yi_twitts,29,19,255,1,0,Wed Oct 07 03:19:21 +0000 2009,http://www.jycondo.com,...,efefef,http://a0.twimg.com/images/themes/theme14/bg.gif,131516,009999,-18000.0,NaN,NaN,real estate sales,2015-02-14 09:55:39,TWT
1,82487179,Marcos Perez C,marcos_peca,1408,208,866,138,0,Wed Oct 14 23:40:17 +0000 2009,NaN,...,A0C5C7,http://a0.twimg.com/images/themes/theme6/bg.gif,709397,FF3300,-21600.0,NaN,NaN,NaN,2015-02-14 09:55:39,TWT
2,105830531,curti lorenzo,curtilorenzo,39,59,962,8,0,Sun Jan 17 16:46:52 +0000 2010,http://www.valcavargna.com/,...,C0DFEC,http://a0.twimg.com/profile_background_images/...,022330,0084B4,0.0,NaN,NaN,le corna del capro scappato dal gregge s'infil...,2015-02-14 09:55:39,TWT
3,114488344,ruben dario toscano,gatito2710,59,7,49,4,0,Mon Feb 15 15:49:58 +0000 2010,NaN,...,DDEEF6,http://a0.twimg.com/images/themes/theme1/bg.png,C0DEED,0084B4,-18000.0,NaN,NaN,NaN,2015-02-14 09:55:39,TWT
4,123222267,Malek Khalaf,MalekKhalaf,987,60,521,61,1,Mon Mar 15 11:38:55 +0000 2010,http://www.facebook.com/Malek.AlBalawi,...,A9A09B,http://a0.twimg.com/profile_background_images/...,D9FBFC,C0C3CC,10800.0,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",2015-02-14 09:55:39,TWT

In [140]:
twt_fake.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'created_at',
       'url', 'lang', 'time_zone', 'location', 'default_profile',
       'default_profile_image', 'geo_enabled', 'profile_image_url',
       'profile_banner_url', 'profile_use_background_image',
       'profile_background_image_url_https', 'profile_text_color',
       'profile_image_url_https', 'profile_sidebar_border_color',
       'profile_background_tile', 'profile_sidebar_fill_color',
       'profile_background_image_url', 'profile_background_color',
       'profile_link_color', 'utc_offset', 'protected', 'verified',
       'description', 'updated', 'dataset'],
      dtype='object')

In [ ]:
['bot', 'created_at', 'default_profile', 'default_profile_image',
       'description', 'favourites_count', 'followers_count', 'friends_count',
       'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
       'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
       'verified']

In [142]:
#def createOutput(data):
header = ['bot', 'created_at', 'default_profile', 'default_profile_image',
       'description', 'favourites_count', 'followers_count', 'friends_count',
       'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
       'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
       'verified']
fake_users = pd.DataFrame(columns=header)
for key in header:
    if key not in twt_fake.columns:
        fake_users[key] = ""
    else:
        fake_users[key] = twt_fake[key]

#df = pd.DataFrame(d, columns= header, index=np.arange(1))
# df['bot'] = isbot
#return df

In [143]:
fake_users

,bot,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,has_extended_profile,id,id_str,lang,listed_count,location,name,screen_name,status,statuses_count,url,verified
0,NaN,Wed Oct 07 03:19:21 +0000 2009,NaN,NaN,real estate sales,1,19,255,,80479674,,en,0,toronto,YI YUAN,yi_twitts,,29,http://www.jycondo.com,NaN
1,NaN,Wed Oct 14 23:40:17 +0000 2009,NaN,NaN,NaN,138,208,866,,82487179,,es,0,NaN,Marcos Perez C,marcos_peca,,1408,NaN,NaN
2,NaN,Sun Jan 17 16:46:52 +0000 2010,NaN,NaN,le corna del capro scappato dal gregge s'infil...,8,59,962,,105830531,,it,0,San Bartolomeo Val Cavargna CO,curti lorenzo,curtilorenzo,,39,http://www.valcavargna.com/,NaN
3,NaN,Mon Feb 15 15:49:58 +0000 2010,1.0,NaN,NaN,4,7,49,,114488344,,es,0,peru,ruben dario toscano,gatito2710,,59,NaN,NaN
4,NaN,Mon Mar 15 11:38:55 +0000 2010,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",61,60,521,,123222267,,en,1,"31.975193,35.920294",Malek Khalaf,MalekKhalaf,,987,http://www.facebook.com/Malek.AlBalawi,NaN
5,NaN,Sun May 16 19:51:50 +0000 2010,1.0,NaN,Con Dios no necesito nada mas el es mi fortaleza,3,141,1075,,144602443,,es,0,Santo domingo,ruthyohannadelarosa,ruthyohanna,,286,NaN,NaN
6,NaN,Sun Nov 07 15:13:37 +0000 2010,1.0,NaN,NaN,0,16,342,,212958140,,es,1,Argentina,Julieta Analia Perez,July_pz,,45,NaN,NaN
7,NaN,Wed Apr 06 15:35:32 +0000 2011,1.0,NaN,NaN,0,14,287,,278082770,,es,0,NaN,carlosjaviervega,bevega,,72,NaN,NaN
8,NaN,Sun Sep 04 09:54:29 +0000 2011,1.0,NaN,NaN,0,0,122,,367651000,,it,0,NaN,Giampaolo Taddei,giatadde,,1,NaN,NaN
9,NaN,Tue Jun 05 01:12:01 +0000 2012,1.0,NaN,NaN,0,4,228,,599789901,,ar,0,NaN,Ahmed Mohamed,212Amhemd,,0,NaN,NaN
10,NaN,Fri Dec 07 13:57:04 +0000 2007,NaN,NaN,NaN,7,171,1398,,10935572,,en,1,NaN,clareanderson,clarebear4,,557,NaN,NaN
11,NaN,Wed Sep 03 20:42:11 +0000 2008,1.0,NaN,NaN,10,9,564,,16119337,,en,0,NaN,protektor,protektor,,383,NaN,NaN
12,NaN,Wed Oct 15 03:31:07 +0000 2008,1.0,NaN,NaN,0,91,527,,16753788,,en,0,NaN,emsykes,emsykes,,30,NaN,NaN
13,NaN,Wed Nov 26 02:48:55 +0000 2008,NaN,NaN,NaN,0,17,361,,17640121,,es,0,NaN,litium54,litium54,,20,NaN,NaN
14,NaN,Wed Nov 26 18:59:35 +0000 2008,NaN,NaN,Principal/Investor - Hillenbrand Capital Partn...,92,583,836,,17656600,,en,9,"Manhattan Beach, CA",Dick Hillenbrand,rdhoosier,,307,http://www.heroesandvillains-ent.com,NaN
15,NaN,Tue Jan 20 10:53:18 +0000 2009,1.0,NaN,Live life to the full never regret the past bu...,1,13,466,,19230427,,en,0,Ewell,ruth woolnough,ruwo,,96,NaN,NaN
16,NaN,Tue Feb 03 03:26:53 +0000 2009,1.0,NaN,NaN,13,63,901,,19951698,,en,0,NaN,larry,gopher2000,,215,http://t.co/5tJyTXnnvU,NaN
17,NaN,Thu Feb 12 22:24:36 +0000 2009,1.0,NaN,NaN,0,6,599,,20726266,,en,0,NaN,BibianaOrdensVieira,BibianaOrdensVi,,0,NaN,NaN
18,NaN,Thu Feb 12 23:32:13 +0000 2009,NaN,NaN,NaN,0,18,1009,,20731719,,en,0,NaN,Chris Smith,chrissmithy76,,441,NaN,NaN
19,NaN,Wed Feb 18 13:40:55 +0000 2009,NaN,NaN,NaN,0,130,484,,21196037,,en,3,"senawang, seremban ^^",lisa ariff,lisa_ariff,,78,http://www.facebook.com,NaN
20,NaN,Fri Feb 20 02:26:24 +0000 2009,1.0,NaN,NaN,0,9,595,,21365952,,en,0,NaN,shaw,mugenvic,,0,NaN,NaN
21,NaN,Fri Feb 20 04:51:31 +0000 2009,NaN,NaN,"236 years...Well, we had a good run.",7,271,1199,,21375100,,en,5,Indy,Sean Bolduc,seve_b,,221,NaN,NaN
22,NaN,Mon Feb 23 23:25:12 +0000 2009,1.0,NaN,NaN,0,5,549,,21706899,,en,0,NaN,Bob Dickson,BobD32,,1,NaN,NaN
23,NaN,Thu Feb 26 04:53:01 +0000 2009,1.0,NaN,NaN,0,19,1031,,21972434,,en,0,NaN,Jerry Allen Moore,JaMMaNIII,,0,NaN,NaN
24,NaN,Sun Mar 22 16:10:49 +0000 2009,NaN,NaN,"Spirited Artist, Passionate Life Empowerment C...",6,547,1286,,25836383,,en,9,Connecticut,Jeanne Prom,jeanneprom,,647,http://t.co/5XqgCKvi,NaN
25,NaN,Thu Mar 26 15:50:25 +0000 2009,NaN,NaN,"Artist,Songwriter,Producer buryourself@gmail.c...",2,492,2004,,26778002,,en,0,FL,M,buryourself,,1513,http://www.ReverbNation.com/Minotti,NaN
26,NaN,Mon Mar 30 15:44:58 +0000 2009,1.0,NaN,NaN,3,28,577,,27662686,,en,0,NaN,erica hartenstein,gooseboo,,54,NaN,NaN
27,NaN,Wed Apr 01 23:12:44 +0000 2009,1.0,NaN,NaN,0,3,475,,28222509,,en,0,NaN,Corby Clark,Corbdizzle,,0,NaN,NaN
28,NaN,Thu Apr 02 02:49:56 +0000 2009,1.0,NaN,NaN,0,10,559,,28265406,,en,0,NaN,Jerri Lynn Rudesil,Jrude1,,0,NaN,NaN
29,NaN,Sat Apr 04 18:31:17 +0000 2009,1.0,NaN,NaN,0,45,568,,28843786,,en,0,New Zealand,Liam Perrell,liamperrell,,7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,NaN,Mon Jun 18 00:18:20 +0000 2012,1.0,NaN,NaN,1,6,550,,611238815,,es,0,NaN,heidy rodriguez,heidyro83649000,,29,NaN,NaN
816,NaN,Mon Jun 18 16:40:39 +0000 2012,1.0,NaN,soy orgullosamente catolica me encanta leer la...,2,16,505,,611817370,,es,0,San Pedro Sula Honduras,karolina hernandez,karolynhernand6,,106,NaN,NaN
817,NaN,Wed Jul 04 19:58:19 +0000 2012,NaN,NaN,NaN,0,11,535,,626820204,,es,0,mexico,esmeralda rodriguez,esmeral46813479,,3,NaN,NaN
818,NaN,Mon Jul 09 02:04:04 +0000 2012,1.0,NaN,NaN,0,4,570,,630700348,,es,0,chile,elizabeth lagos,elizabethlagos6,,5,NaN,NaN
819,NaN,Sun Jul 15 03:30:21 +0000 2012,1.0,NaN,NaN,0,4,366,,635863952,,fr,0,NaN,KS Style,style_ks,,0,NaN,NaN
820,NaN,Thu Jul 26 08:27:07 +0000 2012,1.0,NaN,NaN,0,6,613,,717691526,,es,0,NaN,luis ramirez,LdMackma,,71,NaN,NaN
821,NaN,Fri Aug 03 17:29:46 +0000 2012,1.0,NaN,NaN,0,27,556,,735242102,,fr,0,Montréal,Nathalie Peterson,NathPeterson,,18,NaN,NaN
822,NaN,Wed Aug 15 11:50:27 +0000 2012,1.0,NaN,NaN,3,11,440,,759191942,,en,0,NaN,Dace McLellan'e,mclellan_dace,,5,NaN,NaN
823,NaN,Sat Aug 18 01:00:51 +0000 2012,1.0,NaN,me gusta aser trucos en bicicletasy estudio,1,8,627,,764770615,,es,0,NaN,diego vasquez,OnixDiego,,6,NaN,NaN
824,NaN,Fri Aug 31 14:38:02 +0000 2012,1.0,NaN,NaN,3,10,577,,794003875,,es,0,NaN,José Eduardo Sarango,Joseeduardosn,,8,NaN,NaN
825,NaN,Fri Sep 21 14:15:08 +0000 2012,1.0,NaN,NaN,9,38,518,,837889771,,en,0,New York City,Jhuanna Soller,jhuannass,,244,NaN,NaN
826,NaN,Tue Sep 25 15:53:07 +0000 2012,1.0,NaN,NaN,0,1,421,,845770021,,en,0,NaN,hey,lolipoppnit09,,11,NaN,NaN
827,NaN,Tue Oct 02 21:07:06 +0000 2012,NaN,NaN,lo mio lo mio es ehar desmadre y vivir la vida...,11,72,1295,,858707286,,es,0,NaN,clauchon,clauchonn,,24,NaN,NaN
828,NaN,Tue Oct 09 03:32:03 +0000 2012,NaN,NaN,10/3/12 - ...,25,1624,524,,869150966,,en,32,Screaming at my beagles,Andrew Sullivan,SullyPanic,,77,http://wakethefuckup.com,NaN
829,NaN,Sun Oct 28 07:50:42 +0000 2012,1.0,NaN,http://www.youtube.com/watch?v=ESxYnlCb2Hg&fea...,0,5,325,,909766628,,es,0,NaN,sergio lucena,manguelracing,,2,NaN,NaN
830,NaN,Fri Nov 02 22:28:25 +0000 2012,1.0,NaN,I'm happy.,0,1,444,,921913526,,en,0,USA,Peggy Liddy,PeggyLiddy,,7,NaN,NaN
831,NaN,Fri Nov 09 04:39:02 +0000 2012,1.0,NaN,NaN,0,8,393,,936112358,,en,0,NaN,Joseph Bwambale,bjossey,,1,NaN,NaN
832,NaN,Fri Nov 16 14:30:48 +0000 2012,1.0,NaN,Smoke weed every day. Get high as fuck.,9,46,514,,951793016,,es,0,En las nubes por este yerbón.,Smoke and smile.,mentecreadora,,55,NaN,NaN
833,NaN,Fri Nov 23 13:26:52 +0000 2012,1.0,NaN,NaN,0,0,194,,966110664,,fr,0,NaN,SLAOUI,archislaoui,,39,NaN,NaN
834,NaN,Tue Nov 27 04:30:45 +0000 2012,1.0,NaN,NaN,0,2,344,,973256785,,en,0,NaN,chris siderio,chrissiderio,,0,NaN,NaN
835,NaN,Wed Dec 05 00:20:59 +0000 2012,1.0,NaN,españa/madrid,0,7,446,,989855300,,es,0,españa/madrid,claudiu marian,claudiuspataru,,4,NaN,NaN
836,NaN,Sat Dec 15 13:29:13 +0000 2012,1.0,NaN,NaN,0,4,337,,1013213588,,en,0,NaN,Abdulrahman Elmegbl,AElmegbl,,0,NaN,NaN
837,NaN,Mon Dec 17 16:54:51 +0000 2012,1.0,NaN,NaN,0,3,426,,1017855660,,tr,0,NaN,Burhan inal,Burhaninal1,,1,NaN,NaN
838,NaN,Thu Dec 20 04:58:54 +0000 2012,1.0,NaN,Looking to become a wrestler in the WWE. I thi...,0,2,493,,1023549769,,en,0,ty,justin ennis,SaturnBuster,,9,NaN,NaN
839,NaN,Sun Dec 23 14:29:52 +0000 2012,1.0,NaN,NaN,0,6,130,,1030686715,,ko,0,NaN,채효주,mi3340,,10,NaN,NaN
840,NaN,Thu Jan 17 14:22:31 +0000 2013,1.0,NaN,NaN,0,2,325,,1098285654,,ko,0,NaN,K.,k_ksaid,,1,NaN,NaN
841,NaN,Sat Jan 26 19:27:26 +0000 2013,1.0,NaN,세상에서 제일 달콤한것은? :),4,2,307,,1122936860,,ko,0,NaN,Nick.J,Nick_DoubleJ,,6,NaN,NaN
842,NaN,Mon Jan 28 22:38:57 +0000 2013,NaN,NaN,NaN,0,2,314,,1129397028,,en,0,NaN,carine,tweetyseventy,,1,NaN,NaN
843,NaN,Tue Feb 05 18:39:07 +0000 2013,1.0,NaN,"Je suis plusieurs dans ma tête, c'est handicap...",0,6,482,,1151673038,,fr,0,NaN,Dennez,FlorianDennez,,5,NaN,NaN
844,NaN,Tue Mar 19 19:19:32 +0000 2013,1.0,NaN,I stan for lil Kim i love her music and i a ve...,106,137,414,,1281271908,,en,1,NaN,I Respect the queen!,SearsTammy,,207,NaN,NaN

In [144]:
fake_users.dtypes

bot                       object
created_at                object
default_profile          float64
default_profile_image    float64
description               object
favourites_count           int64
followers_count            int64
friends_count              int64
has_extended_profile      object
id                         int64
id_str                    object
lang                      object
listed_count               int64
location                  object
name                      object
screen_name               object
status                    object
statuses_count             int64
url                       object
verified                 float64
dtype: object

In [147]:
fake_users.isna().sum()

bot                        0
created_at                 0
default_profile          311
default_profile_image    843
description              627
favourites_count           0
followers_count            0
friends_count              0
has_extended_profile       0
id                         0
id_str                     0
lang                       0
listed_count               0
location                 500
name                       0
screen_name                0
status                     0
statuses_count             0
url                      744
verified                 845
dtype: int64

In [146]:
fake_users.bot = 1

In [154]:
fake_users.default_profile = fake_users.default_profile.fillna(0)
fake_users.default_profile = fake_users.default_profile.astype(int)

In [155]:
fake_users.default_profile.value_counts()

1    534
0    311
Name: default_profile, dtype: int64

In [157]:
fake_users.default_profile_image = fake_users.default_profile_image.fillna(0)
fake_users.default_profile_image = fake_users.default_profile_image.astype(int)

fake_users.default_profile_image.value_counts()

0    843
1      2
Name: default_profile_image, dtype: int64

In [160]:
fake_users.description = fake_users.description.fillna('No description')
fake_users.location = fake_users.location.fillna('No location')

In [165]:
fake_users.url = fake_users.url.fillna('No url')

In [167]:

fake_users.to_csv('fake_users_.csv', encoding='utf-8', index=False)

In [170]:
# second fake dataset to balance samples 
# This dataset is from Contact: http://mib.projects.iit.cnr.it/dataset.html  crn 2017 dataset
# more data - https://botometer.iuni.iu.edu/bot-repository/datasets.html

twt_fake_2017 = pd.read_csv('/Users/pbiswas/Desktop/cresci-2017.csv/datasets_full.csv/fake_followers.csv/users.csv')

twt_fake_2017.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,utc_offset,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,updated
0,80479674,YI YUAN,yi_twitts,29,19,255,1,0,Wed Oct 07 03:19:21 +0000 2009,http://www.jycondo.com,...,-18000.0,NaN,NaN,NaN,NaN,NaN,real estate sales,NaN,NaN,2013-06-12 18:38:35
1,82487179,Marcos Perez C,marcos_peca,1408,208,866,138,0,Wed Oct 14 23:40:17 +0000 2009,NaN,...,-21600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35
2,105830531,curti lorenzo,curtilorenzo,39,59,962,8,0,Sun Jan 17 16:46:52 +0000 2010,http://www.valcavargna.com/,...,0.0,NaN,NaN,NaN,NaN,NaN,le corna del capro scappato dal gregge s'infil...,NaN,NaN,2013-06-12 18:38:35
3,114488344,ruben dario toscano,gatito2710,59,7,49,4,0,Mon Feb 15 15:49:58 +0000 2010,NaN,...,-18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35
4,123222267,Malek Khalaf,MalekKhalaf,987,60,521,61,1,Mon Mar 15 11:38:55 +0000 2010,http://www.facebook.com/Malek.AlBalawi,...,10800.0,NaN,NaN,NaN,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",NaN,NaN,2013-06-11 17:39:44

In [171]:
# matching with existing dataset

#def createOutput(data):
header = ['bot', 'created_at', 'default_profile', 'default_profile_image',
       'description', 'favourites_count', 'followers_count', 'friends_count',
       'has_extended_profile', 'id', 'id_str', 'lang', 'listed_count',
       'location', 'name', 'screen_name', 'status', 'statuses_count', 'url',
       'verified']
fake_users_2017 = pd.DataFrame(columns=header)
for key in header:
    if key not in twt_fake_2017.columns:
        fake_users_2017[key] = ""
    else:
        fake_users_2017[key] = twt_fake_2017[key]

#df = pd.DataFrame(d, columns= header, index=np.arange(1))
# df['bot'] = isbot
#return df

In [172]:
fake_users_2017

,bot,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,has_extended_profile,id,id_str,lang,listed_count,location,name,screen_name,status,statuses_count,url,verified
0,NaN,Wed Oct 07 03:19:21 +0000 2009,NaN,NaN,real estate sales,1,19,255,,80479674,,en,0,toronto,YI YUAN,yi_twitts,,29,http://www.jycondo.com,NaN
1,NaN,Wed Oct 14 23:40:17 +0000 2009,NaN,NaN,NaN,138,208,866,,82487179,,es,0,NaN,Marcos Perez C,marcos_peca,,1408,NaN,NaN
2,NaN,Sun Jan 17 16:46:52 +0000 2010,NaN,NaN,le corna del capro scappato dal gregge s'infil...,8,59,962,,105830531,,it,0,San Bartolomeo Val Cavargna CO,curti lorenzo,curtilorenzo,,39,http://www.valcavargna.com/,NaN
3,NaN,Mon Feb 15 15:49:58 +0000 2010,1.0,NaN,NaN,4,7,49,,114488344,,es,0,peru,ruben dario toscano,gatito2710,,59,NaN,NaN
4,NaN,Mon Mar 15 11:38:55 +0000 2010,NaN,NaN,"MA student at JU, Interested in Juventus,Italy...",61,60,521,,123222267,,en,1,"31.975193,35.920294",Malek Khalaf,MalekKhalaf,,987,http://www.facebook.com/Malek.AlBalawi,NaN
5,NaN,Sun May 16 19:51:50 +0000 2010,1.0,NaN,Con Dios no necesito nada mas el es mi fortaleza,3,141,1075,,144602443,,es,0,Santo domingo,ruthyohannadelarosa,ruthyohanna,,286,NaN,NaN
6,NaN,Sun Nov 07 15:13:37 +0000 2010,1.0,NaN,NaN,0,16,342,,212958140,,es,1,Argentina,Julieta Analia Perez,July_pz,,45,NaN,NaN
7,NaN,Wed Apr 06 15:35:32 +0000 2011,1.0,NaN,NaN,0,14,287,,278082770,,es,0,NaN,carlosjaviervega,bevega,,72,NaN,NaN
8,NaN,Sun Sep 04 09:54:29 +0000 2011,1.0,NaN,NaN,0,0,122,,367651000,,it,0,NaN,Giampaolo Taddei,giatadde,,1,NaN,NaN
9,NaN,Thu Sep 08 13:20:35 +0000 2011,NaN,NaN,NaN,16,4,588,,370098498,,en,0,NaN,pirfectmoses,pirfectmoses,,24,NaN,NaN
10,NaN,Tue Jun 05 01:12:01 +0000 2012,1.0,NaN,NaN,0,4,228,,599789901,,ar,0,NaN,Ahmed Mohamed,212Amhemd,,0,NaN,NaN
11,NaN,Fri Dec 07 13:57:04 +0000 2007,NaN,NaN,NaN,7,171,1398,,10935572,,en,1,NaN,clareanderson,clarebear4,,557,NaN,NaN
12,NaN,Wed Sep 03 20:42:11 +0000 2008,1.0,NaN,NaN,10,9,564,,16119337,,en,0,NaN,protektor,protektor,,383,NaN,NaN
13,NaN,Wed Oct 15 03:31:07 +0000 2008,1.0,NaN,NaN,0,91,527,,16753788,,en,0,NaN,emsykes,emsykes,,30,NaN,NaN
14,NaN,Wed Nov 26 02:48:55 +0000 2008,NaN,NaN,NaN,0,17,361,,17640121,,es,0,NaN,litium54,litium54,,20,NaN,NaN
15,NaN,Wed Nov 26 18:59:35 +0000 2008,NaN,NaN,Principal/Investor - Hillenbrand Capital Partn...,92,583,836,,17656600,,en,9,"Manhattan Beach, CA",Dick Hillenbrand,rdhoosier,,307,http://www.heroesandvillains-ent.com,NaN
16,NaN,Tue Jan 20 10:53:18 +0000 2009,1.0,NaN,Live life to the full never regret the past bu...,1,13,466,,19230427,,en,0,Ewell,ruth woolnough,ruwo,,96,NaN,NaN
17,NaN,Tue Feb 03 03:26:53 +0000 2009,1.0,NaN,NaN,13,63,901,,19951698,,en,0,NaN,larry,gopher2000,,215,http://t.co/5tJyTXnnvU,NaN
18,NaN,Thu Feb 12 22:24:36 +0000 2009,1.0,NaN,NaN,0,6,599,,20726266,,en,0,NaN,BibianaOrdensVieira,BibianaOrdensVi,,0,NaN,NaN
19,NaN,Thu Feb 12 23:32:13 +0000 2009,NaN,NaN,NaN,0,18,1009,,20731719,,en,0,NaN,Chris Smith,chrissmithy76,,441,NaN,NaN
20,NaN,Wed Feb 18 13:40:55 +0000 2009,NaN,NaN,NaN,0,130,484,,21196037,,en,3,"senawang, seremban ^^",lisa ariff,lisa_ariff,,78,http://www.facebook.com,NaN
21,NaN,Fri Feb 20 02:26:24 +0000 2009,1.0,NaN,NaN,0,9,595,,21365952,,en,0,NaN,shaw,mugenvic,,0,NaN,NaN
22,NaN,Fri Feb 20 04:51:31 +0000 2009,NaN,NaN,"236 years...Well, we had a good run.",7,271,1199,,21375100,,en,5,Indy,Sean Bolduc,seve_b,,221,NaN,NaN
23,NaN,Mon Feb 23 23:25:12 +0000 2009,1.0,NaN,NaN,0,5,549,,21706899,,en,0,NaN,Bob Dickson,BobD32,,1,NaN,NaN
24,NaN,Thu Feb 26 04:53:01 +0000 2009,1.0,NaN,NaN,0,19,1031,,21972434,,en,0,NaN,Jerry Allen Moore,JaMMaNIII,,0,NaN,NaN
25,NaN,Sun Mar 22 16:10:49 +0000 2009,NaN,NaN,"Spirited Artist, Passionate Life Empowerment C...",6,547,1286,,25836383,,en,9,Connecticut,Jeanne Prom,jeanneprom,,647,http://t.co/5XqgCKvi,NaN
26,NaN,Thu Mar 26 15:50:25 +0000 2009,NaN,NaN,"Artist,Songwriter,Producer buryourself@gmail.c...",2,492,2004,,26778002,,en,0,FL,M,buryourself,,1513,http://www.ReverbNation.com/Minotti,NaN
27,NaN,Mon Mar 30 15:44:58 +0000 2009,1.0,NaN,NaN,3,28,577,,27662686,,en,0,NaN,erica hartenstein,gooseboo,,54,NaN,NaN
28,NaN,Wed Apr 01 23:12:44 +0000 2009,1.0,NaN,NaN,0,3,475,,28222509,,en,0,NaN,Corby Clark,Corbdizzle,,0,NaN,NaN
29,NaN,Thu Apr 02 02:49:56 +0000 2009,1.0,NaN,NaN,0,10,559,,28265406,,en,0,NaN,Jerri Lynn Rudesil,Jrude1,,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,NaN,Fri Apr 26 03:01:40 +0000 2013,1.0,NaN,NaN,0,0,17,,1380948325,,en,0,Bogor,Dolores Mckenzie,DoloresMckenz13,,0,NaN,NaN
3322,NaN,Fri Apr 26 04:29:24 +0000 2013,1.0,NaN,"Where Torque and Horsepowr Meet, we are a perf...",0,1,21,,1381040010,,en,0,"ÜT: 48.483436,-123.385259",Louann Carroll,LouannCarroll3,,2,NaN,NaN
3323,NaN,Fri Apr 26 04:36:10 +0000 2013,1.0,NaN,"Enjoy Sharing with each other your Tips, Jobs,...",0,0,20,,1381069658,,en,0,NaN,Anneliese Franklin,AnnelieseFrankl,,0,NaN,NaN
3324,NaN,Fri Apr 26 06:01:54 +0000 2013,1.0,NaN,NaN,0,1,8,,1381167558,,en,0,NaN,Ming Meyers,MingMeyers,,2,NaN,NaN
3325,NaN,Fri Apr 26 06:55:21 +0000 2013,1.0,NaN,NaN,0,0,15,,1381246512,,en,0,Republica Dominicana,Estrella Valenzuela,EstrellaValenz6,,3,NaN,NaN
3326,NaN,Fri Apr 26 08:15:07 +0000 2013,1.0,NaN,Spreading the power of music through guitars i...,0,0,17,,1381363692,,en,0,Florida,Jewel Bailey,JewelBailey14,,1,NaN,NaN
3327,NaN,Fri Apr 26 09:19:40 +0000 2013,1.0,NaN,cul n sexy buh hot temprd teamfolloback ifollo...,0,0,16,,1381459980,,en,0,nigeria,Kaley Romero,KaleyRomero1,,3,NaN,NaN
3328,NaN,Fri Apr 26 09:40:43 +0000 2013,1.0,NaN,Hit That Follow Button & Find Out ! TeamFollow...,0,2,19,,1381512248,,en,0,CandyLand :P,Maynard Anderson,MaynardAnderso2,,1,NaN,NaN
3329,NaN,Fri Apr 26 10:48:31 +0000 2013,1.0,NaN,NaN,0,2,15,,1381607736,,en,0,São Paulo - SP,Adelaide Dejesus,AdelaideDejesu2,,2,NaN,NaN
3330,NaN,Fri Apr 26 11:55:55 +0000 2013,1.0,NaN,The officia twitter of the unofficial blog....,0,1,17,,1381744988,,en,0,Everywhere U want to be,Zina Cote,ZinaCote,,1,NaN,NaN
3331,NaN,Fri Apr 26 13:20:56 +0000 2013,1.0,NaN,I love he cmpetition...,0,2,20,,1381913143,,en,0,"East Coast, USA",Ira Rasmussen,IraRasmussen,,1,NaN,NaN
3332,NaN,Fri Apr 26 17:12:08 +0000 2013,1.0,NaN,NaN,0,0,15,,1382419244,,en,0,In my own world,Eulah Burton,EulahBurton1,,2,NaN,NaN
3333,NaN,Sat Apr 27 06:36:03 +0000 2013,1.0,NaN,Pedro Lanza eu te amo mais que tudo nessemundo!♥,0,1,20,,1383712140,,en,0,NaN,Chiquita Rosario,ChiquitaRosari2,,2,NaN,NaN
3334,NaN,Sat Apr 27 18:53:21 +0000 2013,1.0,NaN,NaN,0,1,14,,1385228084,,en,0,"washington, pa",Hyo Zimmerman,HyoZimmerman,,2,NaN,NaN
3335,NaN,Sat Apr 27 19:30:24 +0000 2013,1.0,NaN,Gt a lot of love for three boys named Dan Ferr...,0,0,18,,1385297372,,en,0,NaN,Yolanda Hooper,YolandaHooper7,,1,NaN,NaN
3336,NaN,Sun Apr 28 05:21:14 +0000 2013,1.0,NaN,NaN,0,2,15,,1386172154,,en,0,NaN,Leesa Hood,LeesaHood,,1,NaN,NaN
3337,NaN,Sun Apr 28 09:20:00 +0000 2013,1.0,NaN,TeamBrownskin TeamGemini TeamBOOGIE TeamFollow...,0,2,15,,1386519432,,en,0,HOUSTATLANTAVEGAS,Lorina Macias,LorinaMacias,,2,NaN,NaN
3338,NaN,Sun Apr 28 09:26:04 +0000 2013,1.0,NaN,NaN,0,1,18,,1386549638,,en,0,NaN,Jacquelyn Dunlap,JacquelynDunl16,,2,NaN,NaN
3339,NaN,Sun Apr 28 10:22:11 +0000 2013,1.0,NaN,NaN,0,1,22,,1386619668,,en,0,NaN,Darryl Hansen,DarrylHansen3,,3,NaN,NaN
3340,NaN,Sun Apr 28 17:01:13 +0000 2013,1.0,NaN,"Great Clients, Great Websites. Web design, dev...",0,0,18,,1387393236,,en,0,"Victoria, BC Canada",Lillie Leonard,LillieLeonard12,,2,NaN,NaN
3341,NaN,Sun Apr 28 16:57:51 +0000 2013,1.0,NaN,The Oficial witter Page of FollowBackTour * T...,0,0,22,,1387417639,,en,0,Around The World,Kenyetta Sutton,KenyettaSutton,,2,NaN,NaN
3342,NaN,Sun Apr 28 19:16:27 +0000 2013,1.0,NaN,NaN,0,0,24,,1387702238,,en,0,NaN,Theodore Harmon,TheodoreHarmon2,,2,NaN,NaN
3343,NaN,Sun Apr 28 22:04:02 +0000 2013,1.0,NaN,"| TeamDarkSkinn , 5'9 , Tha Name iss BiiG RICH...",0,1,12,,1388028872,,en,0,"Las Vages, Navada",Delmer Morris,DelmerMorris1,,1,NaN,NaN
3344,NaN,Mon Apr 29 06:39:34 +0000 2013,1.0,NaN,Heling people find a healthier body onelb at a...,0,1,21,,1388819528,,en,0,"London, UK",Pearle Atkins,PearleAtkins1,,1,NaN,NaN
3345,NaN,Tue Apr 30 07:11:17 +0000 2013,1.0,NaN,NaN,0,1,19,,1391378610,,en,0,"Cleveland,Ohio",Delila Merritt,DelilaMerritt1,,2,NaN,NaN
3346,NaN,Tue Apr 30 08:23:57 +0000 2013,1.0,NaN,I have been in business onlin and offline for ...,0,0,17,,1391497074,,en,0,"Murphy, NC",Verda Marks,VerdaMarks1,,1,NaN,NaN
3347,NaN,Tue Apr 30 08:34:49 +0000 2013,1.0,NaN,NaN,0,1,17,,1391544607,,en,0,NaN,Danial Campbell,DanialCampbell2,,0,NaN,NaN
3348,NaN,Tue Apr 30 09:21:12 +0000 2013,1.0,NaN,NaN,0,0,15,,1391622127,,en,0,"Rome,Italy",Maudie Meyer,MaudieMeyer1,,2,NaN,NaN
3349,NaN,Tue Apr 30 11:25:11 +0000 2013,1.0,NaN,NaN,0,0,16,,1391832212,,en,0,NaN,Harriett Harvey,HarriettHarvey9,,2,NaN,NaN
3350,NaN,Tue Apr 30 12:47:51 +0000 2013,1.0,NaN,Hello!im a BELIEBER! IM A HUGE FAN OF JUSTIN B...,0,0,17,,1391998039,,en,0,NaN,Gillian Wheeler,GillianWheeler3,,0,NaN,NaN

In [179]:
fake_users_2017.bot = 1

fake_users_2017.default_profile = fake_users_2017.default_profile.fillna(0).astype(int)
fake_users_2017.default_profile = fake_users_2017.default_profile

fake_users_2017.default_profile_image = fake_users_2017.default_profile_image.fillna(0)
fake_users_2017.default_profile_image = fake_users_2017.default_profile_image.astype(int)
fake_users_2017.description = fake_users_2017.description.fillna('No description')
fake_users_2017.location = fake_users_2017.location.fillna('No location')
fake_users_2017.url = fake_users_2017.url.fillna('No url')

In [180]:
fake_users_2017.isna().sum()

bot                         0
created_at                  0
default_profile             0
default_profile_image       0
description                 0
favourites_count            0
followers_count             0
friends_count               0
has_extended_profile        0
id                          0
id_str                      0
lang                        0
listed_count                0
location                    0
name                        0
screen_name                 0
status                      0
statuses_count              0
url                         0
verified                 3351
dtype: int64

In [182]:
fake_users_2017.to_csv('fake_users_2.csv', encoding='utf-8', index=False)

In [15]:
for user in users:
    print(user.name)
    
    for tweet in tweepy.Cursor(api.search,q="#unitedAIRLINES",count=100,
                           lang="en",
                           since="2017-04-03").items():
    print (tweet.created_at, tweet.text)

Tara Dublin #IVoted 🌊
Kavin #IVoted
#iVoted
Tim “#IVoted - Have You Voted?” Bond
Nadine van der Velde
#IVoted
Rafe 🇺🇸 #VOTE! Nov 6th
Samira Tu'Ala #IVoted
r🎃gue1 #IVoted
MAGA! 1 DAY @ A TIME
fl_brooke #gobolts #IVoted
#IVoted! Shad Clark
Rob Dexter
Hispanic! At The Disco #ivoted
I Voted Remain 🇪🇺 #StopBrexit #FBPE #PeoplesVote
iVoted
I Voted
Sudie
Nigel Huckle
Hope Made Human

In [5]:
real_users = []
for user in tweepy.Cursor(api.get_user, screen_name="verified").items():  #'friends are the accounts that @verified follows and are verified'
    verified_screen_names.append(user.screen_name)
    print('friend: ' + user.screen_name, user.verified)